<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackathon.autoarticle.dao.ArticleDao">

    <select id="selectAll" resultType="com.hackathon.autoarticle.entity.Article">
        SELECT * FROM article
    </select>

    <delete id="deleteById" parameterType="_long">
        DELETE from article where id = #{id}
    </delete>
    
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.hackathon.autoarticle.entity.Article">
        INSERT into article (title,industry,template,createTime)
        values (#{title}, #{industry}, #{template}, #{createTime})
    </insert>
</mapper>